@media screen and (min-width: 40em) {
  card {
     max-width: calc(50% -  1em);
  }
}

@media screen and (min-width: 60em) {
  card {
      max-width: calc(25% - 1em);
  }
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.app__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
